<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer id="footer" class="footer" th:fragment="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>HobbyBuddy</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Made by Zhoon99
    </div>

    <!-- Vendor JS Files -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>

</footer>

</html>