<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <p class="nav-heading">카테고리</p>

        <hr style="color: #012970">

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>자기개발</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>스포츠</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>요리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>베이킹</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>애니/만화</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>DIY</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>음악</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>춤</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>사진</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>공연/축제</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>언어</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>인문</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>게임</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>여행</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>봉사</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>낚시</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>동물</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi-caret-right-fill"></i>
                <span>기타</span>
            </a>
        </li>

    </ul>

</aside>

</html>