<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="userHead">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HobbyBuddy</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/vendor/slick/css/slick.css}" rel="stylesheet">
    <link th:href="@{/vendor/slick/css/slick-theme.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Jquery JS File -->
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>

    <!-- Ckeditor5 JS File -->
    <script th:src="@{/js/ckeditor.js}"></script>

    <!-- Slick JS File -->
    <script th:src="@{/vendor/slick/js/slick.min.js}"></script>

</head>

</html>