<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/user_head::userHead"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="layout/header::header"></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="layout/sidebar::sidebar"></aside>

<main id="main" class="main">
    <div class="pagetitle"><h1>개발 페이지</h1></div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">제목</h5>
                        <p>내용</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="layout/footer::footer"></footer>

</body>

</html>