<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/user_head::userHead"></head>

<style>
    .searchBar {
        width: 40%;
        height: 60px;
        text-align: center;
        margin: 70px auto;
    }

    .searchBar-input {
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        border-radius: 50px;
        border: 3px solid #0067A3;
        padding: 7px 15px;
        text-align: left;
        display:inline;
        outline: none;
    }

    .searchBar-button {
        font-size: 16px;
        font-weight: 800;
        border-radius: 50px;
        color: white;
        background-color: #0067A3;
        border: 3px solid #0067A3;
        padding: 7px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        display:inline;
        position: absolute;
        z-index: 1;
    }

    .slider-wrap {
        margin: 20px auto;
        width: 90%;
    }

    .slick-slide {
        margin: 0 10px;
    }
    .slick-list {
        margin: 0 -10px;
    }

    .prev-arrow {
        display: inline;
        font-size: 100px;
        color: #012567;
        position: absolute;
        top: 25%;
        left: -7%;
        z-index: 1;
        cursor: pointer
    }

    .next-arrow {
        display: inline-block;
        font-size: 100px;
        color: #012567;
        position: absolute;
        top: 25%;
        right: -7%;
        z-index: 1;
        cursor: pointer;
    }

    .imgWrap {
        position: relative;
        width: 100%;
        height: 225px;
    }

    .imgWrap img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

    .class-name {
        height: 45px;
    }

    #map {
        position: absolute;
        width:400px;
        height:400px;
        visibility: hidden;
    }
</style>

<script>
    // $(document).ready(function () {
    //     $('#distance-class').slick({
    //         slidesToShow: 4,
    //         slidesToScroll: 4,
    //         autoplay: true,
    //         autoplaySpeed: 3000,
    //         prevArrow: '<i class="prev-arrow bi bi-chevron-compact-left"></i>',
    //         nextArrow: '<i class="next-arrow bi bi-chevron-compact-right"></i>'
    //     });
    // });
</script>

<body>

<!-- ======= Header ======= -->
<header th:replace="layout/header::header"></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="layout/sidebar::sidebar"></aside>

<main id="main" class="main">
    <!--search-->
    <div class="searchBar">
        <input class="searchBar-input" type="search" placeholder="클래스 검색하기!" spellcheck="false"/>
        <button class="searchBar-button" type="submit"><i class="fas fa-search"></i></button>
    </div>

    <div class="pagetitle"><h1>인기 클래스</h1></div>
    <span class="rateit" data-rateit-value="1.6" data-rateit-readonly="true"></span>
    <div class="jstars" data-value="3.0"></div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="slider-wrap">
                            <div id="distance-class" class="slider">

<!--                                <div class="col">-->
<!--                                    <div class="card shadow-sm">-->
<!--                                        <div class="imgWrap">-->
<!--                                            <img class="card-img-top" src="https://t1.daumcdn.net/cfile/tistory/266D1B3B57470DF20E"-->
<!--                                                 alt=" Card image cap">-->
<!--                                        </div>-->

<!--                                        <div class="card-body px-1 fw-bold">-->
<!--                                            <p class="mb-2">기타(의정부시/경기)</p>-->
<!--                                            <p class="class-name fs-5">계절 꽃을 이용한 플라워 클래스 계절 꽃을 이용한 플라워 클래스</p>-->
<!--                                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                                <div class="btn-group">-->
<!--                                                    <span style="color: #dc3545">★★★★☆&nbsp;</span>(14)-->
<!--                                                </div>-->
<!--                                                <small class="fs-5">30,000원</small>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <div class="card shadow-sm">-->
<!--                                        <div class="imgWrap">-->
<!--                                            <img class="card-img-top" src="https://static.cdn.soomgo.com/upload/service/4dbc7821-49aa-4ef2-92fb-08ca97121952.png"-->
<!--                                                 alt=" Card image cap">-->
<!--                                        </div>-->

<!--                                        <div class="card-body px-1 fw-bold">-->
<!--                                            <p class="mb-2">스포츠(평창군/강원)</p>-->
<!--                                            <p class="class-name fs-5">쉽게 배우는 스노우 보드 클래스</p>-->
<!--                                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                                <div class="btn-group">-->
<!--                                                    <span style="color: #dc3545">★★★★☆&nbsp;</span>(23)-->
<!--                                                </div>-->
<!--                                                <small class="fs-5">50,000원</small>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <div class="card shadow-sm">-->
<!--                                        <div class="imgWrap">-->
<!--                                            <img class="card-img-top" src="https://img.insight.co.kr/static/2020/08/29/700/6zg10ds040q4253ln7pd.jpg"-->
<!--                                                 alt=" Card image cap">-->
<!--                                        </div>-->

<!--                                        <div class="card-body px-1 fw-bold">-->
<!--                                            <p class="mb-2">베이킹(부천시/경기)</p>-->
<!--                                            <p class="class-name fs-5">4종 르뱅쿠키 만들기</p>-->
<!--                                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                                <div class="btn-group">-->
<!--                                                    <span style="color: #dc3545">★★★★★&nbsp;</span>(155)-->
<!--                                                </div>-->
<!--                                                <small class="fs-5">40,000원</small>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <div class="card shadow-sm">-->
<!--                                        <div class="imgWrap">-->
<!--                                            <img class="card-img-top" src="https://blog.kakaocdn.net/dn/cX83jt/btqOFiS2C1T/ViJ2CN0WBuiol69ZEGZ6b1/img.jpg"-->
<!--                                                 alt=" Card image cap">-->
<!--                                        </div>-->

<!--                                        <div class="card-body px-1 fw-bold">-->
<!--                                            <p class="mb-2">스포츠(강북구/서울)</p>-->
<!--                                            <p class="class-name fs-5">볼더링 원데이 클래스</p>-->
<!--                                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                                <div class="btn-group">-->
<!--                                                    <span style="color: #dc3545">★★★★☆&nbsp;</span>(14)-->
<!--                                                </div>-->
<!--                                                <small class="fs-5">20,000원</small>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <div class="card shadow-sm">-->
<!--                                        <div class="imgWrap">-->
<!--                                            <img class="card-img-top" src="http://cdn.edujin.co.kr/news/photo/202007/33437_61357_5116.jpg"-->
<!--                                                 alt=" Card image cap">-->
<!--                                        </div>-->

<!--                                        <div class="card-body px-1 fw-bold">-->
<!--                                            <p class="mb-2">기타(의정부시/경기)</p>-->
<!--                                            <p class="class-name fs-5">수학의 정석 수능수학 강의</p>-->
<!--                                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                                <div class="btn-group">-->
<!--                                                    <span style="color: #dc3545">★★★☆☆&nbsp;</span>(3)-->
<!--                                                </div>-->
<!--                                                <small class="fs-5">40,000원</small>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                            </div>
                        </div>

                        <a href="/common/class/map"><p class="d-flex justify-content-center fw-bold fs-5 text-black">더 보기▼</p></a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="map"></div>
</main><!-- End #main -->

<script type="text/javascript" charset="utf-8" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d7651756108879925f2e5555e0f1a7a"></script>
<script>
        let resultArr = [];

        let cLat, cLng;

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.448496000714265, 126.65734801675858), // 지도의 중심좌표
                level: 14 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        /// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {

                cLat = position.coords.latitude; // 위도
                cLng = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(cLat, cLng); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                // 지도 중심좌표를 접속위치로 변경합니다
                map.setCenter(locPosition);
            });
            addMapCondition();
        } else {
            alert("좌표를 불러오는데 오류가 발생했습니다.");

            // HTML5의 GeoLocation을 사용할 수 없을때 기본 좌표 설정.
            var locPosition = new kakao.maps.LatLng(37.448496000714265, 126.65734801675858);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);

            addMapCondition();
        }

        function addMapCondition() {
            var bound = map.getBounds();
            //ajax로 보낼 오브젝트 생성
            var bounds = {
                "swLat": bound.getSouthWest().getLat(),
                "swLng": bound.getSouthWest().getLng(),
                "neLat": bound.getNorthEast().getLat(),
                "neLng": bound.getNorthEast().getLng()
            };

            $.ajax({
                url: "/class/classesInBounds",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                type: "POST",
                data: JSON.stringify(bounds),
                success: function (data) {
                    if (data.length > 0) {

                        for (let i in data) {
                            data[i].distance = getDistance(data[i].latitude, data[i].longitude);
                        }
                        resultArr = data;

                        resultArr = resultArr.sort(function (a,b) {
                           return a.distance - b.distance;
                        });

                        //상위 12개 데이터
                        const resultArrTop12 = resultArr.splice(0, 12);

                        let html = "";
                        resultArrTop12.forEach((el) => {
                            html += "<div class=\"col\"><a href='/' style='color: black'>" +
                                "<div class=\"card shadow-sm\">" +
                                "<div class=\"imgWrap\">" +
                                "<img class=\"card-img-top\" src=\"/display?img=" + el.imgPath + "/" + el.imgUuid + "_" + el.imgName + "\" alt=\"Card image cap\">" +
                                "</div>" +
                                "<div class=\"card-body px-1 fw-bold\">" +
                                "<p class=\"mb-2\"><span class=\"text-primary\">" + lengthConversion(el.distance) + ", </span>" + el.categoryName + el.addressSummary + "</p>" +
                                "<p class=\"class-name fs-5\">" + el.className + "</p>" +
                                "<div class=\"d-flex justify-content-between align-items-center\">" +
                                "<div class=\"btn-group\">" +
                                "<span style=\"color: #dc3545\"><span class=\"rateit\" data-rateit-value=\"1.6\"></span>" + el.cmfAvg + "</span>" + " (" + el.cmtCount + ")" +"" +
                                "</div>" +
                                "<small class=\"fs-5\">" + el.price.toLocaleString('ko-KR') + "원" + "</small>" +
                                "</div>" +
                                "</div>" +
                                "</a></div>" +
                                "</div>";
                        })
                        document.querySelector('#distance-class').innerHTML = html;

                        $('#distance-class').slick({
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            prevArrow: '<i class="prev-arrow bi bi-chevron-compact-left"></i>',
                            nextArrow: '<i class="next-arrow bi bi-chevron-compact-right"></i>'
                        });
                    }
                }, error: function (request, status, error) {
                    console.log("AJAX_ERROR");
                }, beforeSend: function () { //로딩 표시
                    $('.wrap-loading').removeClass('display-none');
                }, complete: function () { //로딩 숨기기
                    $('.wrap-loading').addClass('display-none');
                }
            });
        }

        // 미터 거리 구하기
        function getDistance(nLat, nLng) {
            var polyline = new daum.maps.Polyline({
                /* map:map, */
                path : [
                    new daum.maps.LatLng(cLat,cLng),
                    new daum.maps.LatLng(nLat,nLng)
                ]
            });
            return polyline.getLength();
        }

        // 거리 단위 변환
        function lengthConversion(distance) {
            if(isNaN(distance) == false) {
                // 미터 거리 소수점 제거
                let result, length = Math.floor(distance);
                if(length >= 1000){
                    result = Math.floor(length / 1000) + "km";
                } else {
                    result = length + "m";
                }
                return result;
            }
            return "err";
        }
</script>

<!-- ======= Footer ======= -->
<footer th:replace="layout/footer::footer"></footer>

</body>

</html>